* {
    margin: 0;
    padding: 0;
    color: black;
    background: white;
    line-height: 1.5rem;
}
ul#etudiants {display: flex;
    justify-content: space-between;}
ul#etudiants li.etudiant {width: 20%; background: #eee;}
